* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 400px;
  height: 300px;
  overflow: hidden;
  margin: 20px auto;
}
.images {
  position: relative;
}
.images img {
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s;
}
.images img.current {
  z-index: 1;
  transform: translateX(0);
}
.images img.leave {
  z-index: 1;
  transform: translateX(-100%);
}
.images img.enter {
  transform: translateX(100%);
}